/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

* {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.purple-background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9932cc), to(#5218fa));
  background-image: linear-gradient(#9932cc, #5218fa);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 67vh;
  max-width: 80vw;
  border-radius: 15px;
  -webkit-box-shadow: 0px 12px 10px -5px #522d80;
          box-shadow: 0px 12px 10px -5px #522d80;
  background-color: white;
}

/* Styling for images on the left */
.left-side {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.covered {
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  top: -47%;
  left: -432px;
  height: 814px;
  width: 800px;
}

.desk {
  position: relative;
  bottom: 153%;
  width: 750px;
  left: -13%;
}

.block {
  position: absolute;
  top: 39%;
  left: -11%;
}

/* End of styling for images on the left */
/* Beginning of styling for text on the right */
h1 {
  font-size: 30px;
  padding-bottom: 15px;
}

.right-side {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: scroll;
  margin-right: 10%;
}

label .carrot {
  height: 10px;
}

.tabs {
  overflow: hidden;
}

.tab {
  border-bottom: #e0e0e0 solid 1px;
  width: 100%;
  overflow: hidden;
}

.tab-label {
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 1em 1em 0;
  cursor: pointer;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input:checked ~ label .carrot {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

input:checked ~ label {
  font-weight: 700;
  font-size: 0.95rem;
}

input:checked ~ .tab-content {
  max-height: 200px;
  padding: 1em;
}

.question-line img {
  height: 13px;
}
/*# sourceMappingURL=index.css.map */