/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

* {
  // border: solid grey 1px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.purple-background {
  background-image: linear-gradient(#9932cc, #5218fa);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  position: relative;
  height: 67vh;
  max-width: 80vw;
  border-radius: 15px;
  box-shadow: 0px 12px 10px -5px #522d80;
  background-color: white;
  // overflow: scroll;
}

/* Styling for images on the left */
.left-side {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.covered {
  position: relative;
  max-width: max-content;
}

.desk {
  position: relative;
  bottom: 105%;
  width: 800px;
  max-width: 115%;
  left: -18%;
}

.block {
  position: absolute;
  top: 42%;
  left: -12%;
}
/* End of styling for images on the left */

/* Beginning of styling for text on the right */
h1 {
  font-size: 30px;
  padding-bottom: 15px;
}

.right-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  margin-right: 10%;
}

label .carrot {
  height: 10px;
}

.tabs {
  overflow: hidden;
}

.tab {
  border-bottom: #e0e0e0 solid 1px;
  width: 100%;
  overflow: hidden;

  &-label {
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em 1em 0;
    cursor: pointer;
    // &::after {
    //   // content: "\276F";
    //   width: 1em;
    //   height: 1em;
    //   text-align: center;
    //   transition: all 0.35s;
    // }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    transition: all 0.35s;
  }
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
input:checked {
  ~ label .carrot {
    transform: rotate(180deg);
  }
  ~ label {
    font-weight: 700;
    font-size: 0.95rem;
  }
  ~ .tab-content {
    max-height: 200px;
    padding: 1em;
  }
}

.question-line img {
  height: 13px;
}
